/*
* var
* --------------------------------------
 */
$color-primary: #d21366;
$color-link: #3a8ee6;

/*
* mixins
* --------------------------------------
 */
@mixin text-overflow($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
